<div class="panel panel-info">
    <div class="panel-heading">
        Properties
    </div>
    <div class="panel-body">
        <div class="alert alert-info">
            <ul>
                <li><b>text-property-contains</b></li>
                <li><b>text-property-contains-case-insensitive</b></li>
                <li><b>text-property-contains-result</b></li>
                <li><b>text-property-contains-operator</b></li>
            </ul>
        </div>
    </div>
</div>

<!--First panel-->
<form class="panel panel-primary"
      name="firstForm">

    <div class="panel-heading">
        First example
    </div>

    <div class="panel-body">

        <div class="alert alert-info">
            <ul>
                <li>text-property-contains="<b>first.b.name</b>"</li>
                <li>text-property-contains-case-insensitive="<b>false</b>"</li>
                <li>text-property-contains-result="<b>-1</b>"</li>
                <li>text-property-contains-operator="<b>!=</b>"</li>
            </ul>

            <hr/>
            <ul>
                <li>This result equals to: <b>'{{first.a.name}}'.indexOf('{{first.b.name}}') != -1</b></li>
                <li>
                    <b class="text-danger">Result: {{first.a.name.indexOf(first.b.name) != -1}}</b>
                </li>
            </ul>
        </div>
        <div class="form-group">
            <div class="control-label">
                1st person
            </div>
            <input name="firstPersonName"
                   type="text"
                   class="form-control"
                   ng-model="first.a.name"
                   text-property-contains="first.b.name"
                   text-property-contains-case-insensitive="false"
                   text-property-contains-result="-1"
                   text-property-contains-operator="!="/>

            <ul ng-messages="firstForm.firstPersonName.$error"
                ng-if="firstForm.firstPersonName.$dirty">
                <li ng-message="textPropertyContains">
                    <span><b>{{first.a.name}}</b> must contain <b>{{first.b.name}}</b></span>
                </li>
            </ul>
        </div>

        <div class="form-group">
            <div class="control-label">
                2nd person
            </div>
            <input type="text"
                   class="form-control"
                   ng-model="first.b.name"/>
        </div>


    </div>
</form>

<!--Second panel-->
<form class="panel panel-primary"
      name="secondForm">

    <div class="panel-heading">
        Second example
    </div>

    <div class="panel-body">

        <div class="alert alert-info">
            <ul>
                <li>text-property-contains="<b>second.b.name</b>"</li>
                <li>text-property-contains-case-insensitive="<b>true</b>"</li>
                <li>text-property-contains-result="<b>5</b>"</li>
                <li>text-property-contains-operator="<b>=</b>"</li>
            </ul>

            <hr/>
            <ul>
                <li>This result equals to: <b>'{{second.a.name}}'.toLowerCase().indexOf('{{second.b.name}}'.toLowerCase())
                    == 5</b></li>
                <li>
                    <b class="text-danger">Result: {{second.a.name.toLowerCase().indexOf(second.b.name.toLowerCase()) ==
                        5}}</b>
                </li>
            </ul>
        </div>
        <div class="form-group">
            <div class="control-label">
                1st person
            </div>
            <input name="secondPerson"
                   type="text"
                   class="form-control"
                   ng-model="second.a.name"
                   text-property-contains="second.b.name"
                   text-property-contains-case-insensitive="true"
                   text-property-contains-result="5"
                   text-property-contains-operator="="/>

            <ul ng-messages="secondForm.secondPerson.$error"
                ng-if="secondForm.secondPerson.$dirty">
                <li ng-message="textPropertyContains">
                    <b>
                        Validation message should be shown here.
                    </b>
                </li>
            </ul>
        </div>

        <div class="form-group">
            <div class="control-label">
                2nd person
            </div>
            <input type="text"
                   class="form-control"
                   ng-model="second.b.name"/>
        </div>


    </div>
</form>

