<div ng-controller="NgFunctionValidateController">
    <div class="panel panel-info">
        <div class="panel-heading">
            Properties
        </div>
        <div class="panel-body">
            <div class="alert alert-info">
                <ul>
                    <li><b>numeric-property-compares</b></li>
                </ul>
            </div>
        </div>
    </div>

    <!--First panel-->
    <form class="panel panel-primary"
          name="firstForm">

        <div class="panel-heading">
            Example 1
        </div>

        <div class="panel-body">

            <div class="alert alert-info">
                <ul>
                    <li>numeric-property-compares="<b>first.b</b>"</li>
                    <li>numeric-property-compares-operator="<b>&lt</b>"</li>
                    <li>numeric-property-compares-mathematic-operator="<b>+</b>"</li>
                </ul>
                <hr/>

                <ul>
                    <li>Age must be more than or equal to 18 (is-adult)</li>
                    <li>Age must be an even number (is-even)</li>
                    <li>Family name must be different from given name</li>
                </ul>
                <hr/>

                <ul>
                    <li><b>is-adult</b> : <b class="text-danger">{{person.age >= 18}}</b></li>
                    <li><b>is-even</b> : <b class="text-danger">{{isEven(person.age)}}</b></li>
                    <li><b>is-name-similar</b>: <b class="text-danger">{{person.firstName.indexOf(person.lastName) == 0}}</b></li>
                </ul>
            </div>
            <div class="form-group">
                <div class="control-label">
                    First name
                </div>
                <input name="a"
                       type="text"
                       class="form-control"
                       ng-model="person.firstName"
                       ng-function-validate="is-adult;is-even;is-name-similar"
                       ng-function-validate-monitors="person.firstName;person.lastName;person.age"

                       ng-function-validate-is-adult="person.age >= 18"
                       ng-function-validate-is-even="isEven(person.age)"
                       ng-function-validate-is-name-similar="person.firstName.indexOf(person.lastName) == 0"/>

            </div>

            <div class="form-group">
                <div class="control-label">
                    Last name
                </div>
                <input name="b"
                       type="text"
                       class="form-control"
                       ng-model="person.lastName"/>
            </div>

            <div class="form-group">
                <div class="control-label">
                    Age
                </div>
                <input name="c"
                       type="text"
                       class="form-control"
                       ng-model="person.age"/>
            </div>
        </div>

        <div class="panel-body">

            <div class="form-group"
                 ng-if="!firstForm.$valid">
                <div class="control-label">
                    Single validation message can be displayed
                </div>
                <ul ng-messages="firstForm.a.$error">
                    <li ng-message="ng-function-validate-is-adult">
                        <span><b>Age must be more than or equal to 18</b></span>
                    </li>
                    <li ng-message="ng-function-validate-is-even">
                        <span><b>Age must be an even number</b></span>
                    </li>
                    <li ng-message="ng-function-validate-is-name-similar">
                        <span><b>First name and last name must be the same</b></span>
                    </li>
                </ul>
            </div>

            <hr ng-if="!firstForm.$valid"/>

            <div class="form-group"
                 ng-if="!firstForm.$valid">
                <div class="control-label">
                    Multiple validation messages can be displayed
                </div>
                <ul>
                    <li ng-if="firstForm.a.$error['ng-function-validate-is-adult']">
                        <span><b>Age must be more than or equal to 18</b></span>
                    </li>
                    <li ng-if="firstForm.a.$error['ng-function-validate-is-even']">
                        <span><b>Age must be an even number</b></span>
                    </li>
                    <li ng-if="firstForm.a.$error['ng-function-validate-is-name-similar']">
                        <span><b>First name and last name must be the same</b></span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="panel-footer">
            <button class="btn btn-block btn-primary" ng-disabled="!firstForm.$valid">
                This will be enabled when form is valid
            </button>
        </div>
    </form>

</div>
