<div class="panel panel-info">
    <div class="panel-heading">
        Properties
    </div>
    <div class="panel-body">
        <div class="alert alert-info">
            <ul>
                <li><b>time-property-compares</b></li>
                <li><b>time-property-compares-operator</b></li>
            </ul>
        </div>
    </div>
</div>

<!--First panel-->
<form class="panel panel-primary"
      name="firstForm">

    <div class="panel-heading">
        Example 1
    </div>

    <div class="panel-body">

        <div class="alert alert-info">
            <ul>
                <li>time-property-compares="<b>first.b</b>"</li>
                <li>time-property-compares-operator="<b>&gt</b>"</li>
            </ul>

            <hr/>
            <ul>
                <li>This result equals to: <b>a.getTime() > b.getTime()</b></li>
                <li>
                    <b class="text-danger">Result: {{first.a.getTime() > first.b.getTime()}}</b>
                </li>
            </ul>
        </div>
        <div class="form-group">
            <div class="control-label">
                1st person
            </div>
            <input name="a"
                   type="date"
                   class="form-control"
                   ng-model="first.a"
                   time-property-compares="first.b"
                   time-property-compares-operator=">"/>

            <ul ng-messages="firstForm.a.$error"
                ng-if="firstForm.a.$dirty">
                <li ng-message="timePropertyCompares">
                    <span><b>{{first.a}}</b> must be greater than <b>{{first.b}}</b></span>
                </li>
            </ul>
        </div>

        <div class="form-group">
            <div class="control-label">
                2nd person
            </div>
            <input type="date"
                   class="form-control"
                   ng-model="first.b"/>
        </div>


    </div>
</form>

<!--Second panel-->
<form class="panel panel-primary"
      name="secondForm">

    <div class="panel-heading">
        Example 2
    </div>

    <div class="panel-body">

        <div class="alert alert-info">
            <ul>
                <li>time-property-compares="<b>first.b</b>"</li>
                <li>time-property-compares-operator="<b>&gt=</b>"</li>
            </ul>

            <hr/>
            <ul>
                <li>This result equals to: <b>a.getTime() = b.getTime()</b></li>
                <li>
                    <b class="text-danger">Result: {{second.a.getTime() >= second.b.getTime()}}</b>
                </li>
            </ul>
        </div>
        <div class="form-group">
            <div class="control-label">
                1st person
            </div>
            <input name="a"
                   type="datetime-local"
                   class="form-control"
                   ng-model="second.a"
                   time-property-compares="second.b"
                   time-property-compares-operator=">="/>

            <ul ng-messages="secondForm.a.$error"
                ng-if="secondForm.a.$dirty">
                <li ng-message="timePropertyCompares">
                    <span><b>Validation message should be shown here</b></span>
                </li>
            </ul>
        </div>

        <div class="form-group">
            <div class="control-label">
                2nd person
            </div>
            <input type="datetime-local"
                   class="form-control"
                   ng-model="second.b"/>
        </div>


    </div>
</form>
